<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户表单</title>
</head>
<body>

<!--<form action="#" th:action="@{/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>用户名称：<input type="text" th:field="*{name}" maxlength="15"></p>
    <p>手机号：<input type="text" th:field="*{phone}" maxlength="13"></p>
    <p>邮箱：<input type="text" th:field="*{email}" maxlength="30"></p>
    <p>身份证号：<input type="text" th:field="*{idcard}" maxlength="18"></p>
    <p><input type="submit" value="提交"></p>
</form>-->
<form class="form-inline" action="#" th:action="@{/save}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="name">用户名称</label>
        <input type="text" class="form-control" id="name" placeholder="请输入用户名" th:field="*{name}" maxlength="15">
    </div>
    <div class="form-group">
        <label for="phone">手机号</label>
        <input type="text" class="form-control" id="phone" placeholder="请输入手机号"  th:field="*{phone}" maxlength="13">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input type="text" class="form-control" id="email" placeholder="请输入邮箱"  th:field="*{email}" maxlength="20">
    </div>
    <div class="form-group">
        <label for="idcard">身份证号</label>
        <input type="text" class="form-control" id="idcard" placeholder="请输入身份证号"  th:field="*{idcard}" maxlength="18">
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

</body>
</html>