<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.example.usersystem.dao.IUserDao">
    <!-- 返回记录集所用的集合 -->
    <resultMap id="UserMap" type="com.example.usersystem.model.User">
        <id column="id" property="id" javaType="int" jdbcType="INTEGER"/>
        <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 添加 -->
    <insert id="insertUser" parameterType="com.example.usersystem.model.User">
        insert into user(username,password,gender,age,createTime) values(#{username},#{password},#{gender},#{age},#{createTime})
    </insert>
    <!-- 修改 -->
    <update id="updateUser" parameterType="com.example.usersystem.model.User">
        update user set username=#{username},password=#{password},gender=#{gender},age=#{age} where id=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delUser" parameterType="int">
        delete from user where id=#{id}
    </delete>
    <!-- 查询所有数据 -->
    <select id="selectAll" resultMap="UserMap">
        select * from user order by id desc
    </select>
    <!-- 查询数据通过username -->
    <select id="selectByUsername" resultMap="UserMap" parameterType="string">
        select id from user where username=#{username}
    </select>
    <!-- 获取单条数据 -->
    <select id="getOne" resultType="com.example.usersystem.model.User" parameterType="int">
        select * from user where id=#{id}
    </select>
</mapper>